@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@300;400;700&display=swap');


// KUMAR ONE OUTLINE
@mixin mainHeading($sizeValue) {
  font-size: $sizeValue;
	color: $black;
	font-family: 'Kumar One Outline', sans-serif;
	font-weight: regular;
	line-height: 64px;
}

// KUMAR SOLID
@mixin subHeading($sizeValue) {
  font-size: $sizeValue;
	color: $black;
	font-family: 'Kumar One', sans-serif;
	font-weight: regular;
	line-height: 58px;
	letter-spacing: 2.1px;
}

// LATO BOLD
@mixin navBar($sizeValue){
	font-size: $sizeValue;
	color: $black;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 1.4px;
}

// LATO REGULAR
@mixin bodyText($sizeValue){
	font-size: $sizeValue;
	color: $black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 32px;
}


