@import 'partials/setup';
@import 'partials/fonts';
@import 'partials/home';
@import 'partials/blog';
@import 'partials/contact';

// colour variables

$yellow: #F8FB05;
$everGreen: #065635;
$offWhite: #F5F5F5;
$mint: #E0FDDF;
$black: #151514;
