@import url("https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainHeader {
  height: 100vh;
  max-height: 1000px;
  min-height: 800px;
  background: url(/assets/header-home.jpg) center/cover;
  position: relative;
}

.mainHeaderNavFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainHeaderNavFlex .mainHeaderNav {
  width: 50%;
  min-width: 400px;
}

.mainHeaderNavFlex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeaderImageFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  width: 54%;
  min-width: 600px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  right: 100px;
}

.mainHeaderImageFlex h1 {
  width: 80%;
  margin: 45px 0;
}

.mainHeaderImage {
  width: 100%;
}

.mainHeaderImage img {
  width: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}

.materialsFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.materialsText {
  width: 66%;
  margin: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.materialsText p {
  width: 90%;
}

.materialsText .linkButton {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  background-color: #065635;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 50px;
}

.materialsImage {
  width: 330px;
  height: 330px;
}

.materialsImage img {
  width: 100%;
  -webkit-box-shadow: -10px 10px 0 5px #F8FB05;
          box-shadow: -10px 10px 0 5px #F8FB05;
}

.mainImages {
  background: #E0FDDF;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainImagesFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainImageContainer {
  width: 380px;
}

.mainImages img {
  width: 100%;
  display: block;
}

.mainFeaturesFlex1 {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.mainFeaturesFlex1 i {
  font-size: 2rem;
  position: absolute;
  top: 14px;
}

.mainFeaturesFlex1 .featuresIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  position: relative;
}

.mainFeaturesFlex1 .featuresIcon .iconBackground {
  background: #F8FB05;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.customizedFlex,
.communityFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  width: 50%;
}

.featuresText1,
.featuresText2,
.featuresText3,
.featuresText4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.mainBenefits {
  background: #E0FDDF;
}

.benefitsWrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefitsFlexContainer1,
.benefitsFlexContainer2 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 700px;
  position: relative;
}

.emptyFlex {
  width: 100px;
}

.benefitsText1,
.benefitsText2 {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 400px;
}

.benefitsText1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  right: 60px;
  bottom: 0;
}

.benefitsText1 h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.benefitsText1 p {
  text-align: right;
}

.benefitsText1 .linkButton {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  background-color: #065635;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 50px;
}

.benefitsText2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  position: absolute;
  left: 60px;
}

.benefitsText2 p {
  text-align: left;
}

.benefitsText2 .linkButton {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  background-color: #065635;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 50px;
}

.benefitsImage img {
  width: 100%;
  display: block;
}

.benImgOne img {
  -webkit-box-shadow: 10px 10px 0 5px #F8FB05;
          box-shadow: 10px 10px 0 5px #F8FB05;
  position: absolute;
  left: -60px;
  top: -30px;
}

.benImgTwo img {
  -webkit-box-shadow: -10px 10px 0 5px #F8FB05;
          box-shadow: -10px 10px 0 5px #F8FB05;
  position: absolute;
  right: -60px;
  bottom: -50px;
}

.styleSearchImage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.styleSearchFlex {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.styleSearchFlex .styleSearchText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.styleSearchFlex p {
  width: 80%;
  padding: 10px 0 20px 0;
}

.styleSearchFlex .linkButton {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  background-color: #065635;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #151514;
}

footer p {
  color: #F5F5F5;
  padding: 10px 0;
}

.blogBody {
  background-color: #E0FDDF;
}

.blogHeader {
  height: 70vh;
  min-height: 400px;
  max-height: 500px;
  background: url(/assets/blog-image.jpg) center/cover;
  position: relative;
}

.blogHeaderFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogHeaderFlex h1 {
  margin-top: 100px;
}

.blogHeaderNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 400px;
}

.blogHeaderNav .blogLogo {
  width: 200px;
  min-width: 150px;
  margin-top: 10px;
}

.blogHeaderNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  min-width: 400px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogSection .blogPost {
  background-color: #F5F5F5;
  min-width: 65%;
  -webkit-box-shadow: 10px 10px 0 5px #F8FB05;
          box-shadow: 10px 10px 0 5px #F8FB05;
}

.blogSection .blogImage img {
  width: 100%;
  position: relative;
  top: -120px;
  -webkit-box-shadow: 10px 15px 0 5px #F8FB05;
          box-shadow: 10px 15px 0 5px #F8FB05;
}

.blogSection .blogText {
  width: 650px;
  position: relative;
  top: -80px;
  margin: 20px;
  min-height: 1200px;
}

.blogAside {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 75%;
}

.blogAside img {
  -webkit-box-shadow: -10px 10px 0 5px #F8FB05;
          box-shadow: -10px 10px 0 5px #F8FB05;
  width: 320px;
}

.blogAside .blogAsideText1,
.blogAside .blogAsideText2 {
  background-color: #F8FB05;
  width: 335px;
  padding: 20px;
}

.blogAside h3 {
  padding-bottom: 15px;
}

.blogAside ul {
  margin-left: 20px;
}

.blogAside li {
  list-style-type: disc;
  font-size: 2rem;
}

.blogAside li a {
  color: #151514;
}

.blogAside li a:hover {
  color: #63635f;
}

.blogTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 1200px;
}

.blogText {
  padding-right: 50px;
}

.blogText p {
  margin-bottom: 35px;
}

.blogText h2 + p {
  margin-top: 35px;
  font-style: italic;
}

.blogText span {
  font-weight: bolder;
}

.blogAsideText2 li a {
  font-size: 2rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
}

.commentFlex {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 80px;
  margin-bottom: 25px;
}

.commentFlex .commentContainer {
  width: 650px;
  margin: 0 20px;
}

.commentFlex .commentBoxText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  margin-top: 20px;
}

.commentFlex .commentTextFlex {
  margin-left: 20px;
}

.commentFlex .commentTextFlex p:first-of-type {
  font-weight: bolder;
}

.commentContainer h3 + .commentBoxText {
  margin-bottom: 50px;
}

.blogForm {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogForm input {
  border: none;
  background: #E0FDDF;
}

.blogForm fieldset {
  border: none;
  width: 650px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.blogForm .formFlex1 {
  height: 75px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-left: 0;
}

.blogForm .formFlex1 label {
  position: absolute;
  top: -7px;
  margin-left: 20px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.blogForm .formFlex1 .emailFlex,
.blogForm .formFlex1 .nameFlex {
  width: 47%;
}

.blogForm .formFlex1 .emailFlex input[type="text"],
.blogForm .formFlex1 .emailFlex input[type="email"],
.blogForm .formFlex1 .nameFlex input[type="text"],
.blogForm .formFlex1 .nameFlex input[type="email"] {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #065635;
}

.blogForm .formFlex2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  padding-left: 0;
}

.blogForm .formFlex2 textarea {
  min-width: 650px;
  max-width: 650px;
  min-height: 200px;
  max-height: 200px;
  padding: 20px;
  background-color: #E0FDDF;
  border: 2px solid #065635;
  resize: none;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
}

.blogForm .formFlex2 button {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  background-color: #065635;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 50px;
  border: none;
  width: 100%;
  margin-top: 20px;
  height: 35px;
}

textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
  text-transform: uppercase;
}

textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
  text-transform: uppercase;
}

textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
  text-transform: uppercase;
}

textarea::placeholder {
  font-size: 1.5rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
  text-transform: uppercase;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #151514;
}

footer p {
  color: #F5F5F5;
  padding: 10px 0;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  font-size: 2rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
}

nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
}

nav a:hover {
  border-bottom: 3px solid #F8FB05;
}

nav ul {
  padding: 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 6.8rem;
  color: #151514;
  font-family: 'Kumar One Outline', sans-serif;
  font-weight: regular;
  line-height: 6.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.8rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
}

h3 {
  font-size: 1.8rem;
  color: #151514;
  font-family: 'Kumar One', sans-serif;
  font-weight: regular;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

p {
  font-size: 2rem;
  color: #151514;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 3.2rem;
}

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}
